.nav__button {
  margin: 0;
  padding: 0;
}

.nav__button span {
  color: #fff;
  font-size: 18px;
  text-shadow: 0 5px 8px rgb(0, 0, 0);
}

.MenuList {
  background-color: rgba($color: #dde9fd, $alpha: 0.3);
}

.MenuItem {
  text-decoration: none;
  color: #000;
}