@import '../../utils/variables';

.nav__button {
  margin: 0;
  padding: 0;
}

.nav__button span {
  color: $basic-color;
  font-size: 18px;
  text-shadow: $basic-text-shadow;
}

.nav__button_simple span {
  color: $simple-color;
}

.MenuList {
  background-color: rgba($color: #dde9fd, $alpha: 0.3);
}

.MenuItem {
  text-decoration: none;
  color: #000;
}